repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
      - id: check-toml

  - repo: https://github.com/google/pyink
    rev: 24.10.1
    hooks:
      - id: pyink
        # Configuration is read from pyproject.toml [tool.pyink]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        additional_dependencies: [types-setuptools]
        args: [--ignore-missing-imports]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style.
        entry: cargo fmt -- --config imports_granularity=Module,group_imports=StdExternalCrate
        language: system
        types: [ file, rust ]
        pass_filenames: false
